<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AI fitness 熱量日記</title>
</head>
<body class="w-screen h-screen overflow-y-scroll overflow-x-hidden" style="font-family: 'Noto Serif TC', serif;">
    <header class="w-full h-[35vh]">
        <div class="absolute h-[35vh] z-0 w-full  bg-[url('../static/web_banner.jpeg')] bg-cover bg-center">
        </div>
        <div class="absolute z-10 left-[50%] top-[17.5%] -translate-x-1/2 -translate-y-1/2 font-bold tracking-wider text-5xl" style="text-shadow: 0.05em 0.05em rgb(244, 244, 244)">AI fitness 熱量日記</div>
    </header>
    <section class="w-full h-screen mt-16 "> <!--about-->
        <h3 class="text-3xl text-center p-5 font-[500]">關於熱量紀錄</h3>
        <div class="w-[5%] border-black border-t-4 relative left-[50%] -translate-x-1/2"></div>
        <div class="w-3/4 relative left-1/2 -translate-x-1/2 ">
            <section class="w-[90%] h-[35%] p-10 relative left-1/2 -translate-x-1/2">
                <h4 class="text-2xl text-center pb-1 font-[500]">
                    熱量紀錄是什麼?
                </h4>
                <p class="text-lg text-center m-2 font-[200] tracking-wide leading-relaxed">
                    肚子餓了就吃食物，這可說是反射動作般的習以為常，不過「吃得飽」不代表一定「吃得健康」！做飲食記錄最重要的，就是幫助自己審核是否吃得健康，確認每日是否有攝取到足量的營養成分！
                    <br>
                    如果現在讓你回想一下，你記得昨天晚餐吃什麼嗎？或許你記得是一個排骨便當，不過配菜呢？有沒有全部吃完呢？大多數人對於這種小事都不會保留深刻印象，所以透過餐餐隨手做個飲食記錄，就不用擔心腦容量滿載了。
                    <br>
                    使用者可以透過時下方便的手機 APP 工具，協助進行飲食記錄。好的飲食記錄 APP 最好能告訴你，一天當中還差多少量未攝取，或是有營養素超標了也能跳出提醒，提供更加人性化的便利服務。
                </p>
            </section>
            <section class="w-full h-[45%] p-10">
                <h4 class="text-2xl text-center pb-5 font-[500]">
                    透過熱量紀錄，你可以...
                </h4>
                
                <div class="w-full text-xl relative left-1/2 -translate-x-1/2 flex font-[200]">
                    <div class="p-5 w-1/4">
                        <i class="fi fi-rr-room-service relative left-[30%] -translate-x-1/2 text-8xl text-orange-600"></i>
                        <p class="text-center text-[1.15rem] mt-1">
                            增加自己對食物和營養的認知
                        </p>
                    </div>
                    <div class="p-5 w-1/4">
                        <i class="fi fi-rr-burrito relative left-[30%] -translate-x-1/2 text-8xl text-orange-600"></i>
                        <p class="text-center text-[1.15rem] mt-1">
                            確保自己有足夠的熱量應付運動和日常需求
                        </p>
                    </div>
                    <div class="p-5 w-1/4">
                        <i class="fi fi-rr-apple-whole relative left-[30%] -translate-x-1/2 text-8xl text-orange-600"></i>
                        <p class="text-center text-[1.15rem] mt-1">
                            對自己的需求和飲食有更深入的了解
                        </p>
                    </div>
                    <div class="p-5 w-1/4">
                        <i class="fi fi-rr-beer relative left-[30%] -translate-x-1/2 text-8xl text-orange-600"></i>
                        <p class="text-center text-[1.15rem] mt-1">
                            建立屬於自己的資料庫，讓你將來就算不計算也能聰明的做選擇
                        </p>
                    </div>
                    
                </div>
            </section>
        </div>
    </section>
    <section class="w-full h-1/2 py-5"> <!--our feature-->
        <h3 class="text-3xl text-center p-5 font-[500]">我們的特色</h3>
        <div class="w-[5%] border-black border-t-4 relative left-[50%] -translate-x-1/2"></div>
        <div class="w-3/4 text-xl relative left-1/2 -translate-x-1/2 flex p-10 font-[200]">
            <div class="p-5 w-1/4">
                <i class="fi fi-ss-hat-chef relative left-[30%] -translate-x-1/2 text-8xl text-sky-900"></i>
                <p class="text-center text-[1.15rem] mt-1">
                    每日訊息推送，熱量攝取提醒
                </p>
            </div>
            <div class="p-5 w-1/4">
                <i class="fi fi-ss-mode-landscape relative left-[30%] -translate-x-1/2 text-8xl text-sky-900"></i>
                <p class="text-center text-[1.15rem] mt-1">
                    自動標籤辨識，方便紀錄熱量
                </p>
            </div>
            <div class="p-5 w-1/4">
                <i class="fi fi-ss-text relative left-[30%] -translate-x-1/2 text-8xl text-sky-900" ></i>
                <p class="text-center text-[1.15rem] mt-1">
                    支援手動輸入功能，不擔心食物無標籤
                </p>
            </div>
            <div class="p-5 w-1/4">
                <i class="fi fi-ss-grill relative left-[30%] -translate-x-1/2 text-8xl text-sky-900"></i>
                <p class="text-center text-[1.15rem] mt-1">
                    七天歷史紀錄調閱，查找每日熱量好方便
                </p>
            </div>
            
        </div>
    </section>
    <section class="w-full h-1/2 mt-16"> <!--contact us-->
        <h3 class="text-center h-[20%] text-3xl p-[1%] font-[500]">加入LINE</h3>
        <div class="w-[5%] border-black border-t-4 relative left-[50%] -translate-x-1/2"></div>
        <div class="flex w-3/4 h-[80%] relative left-[50%] -translate-x-1/2 justify-end pt-[1%]">
            <div class="w-[25%] h-[100%] bg-[url('../static/QR.png')] bg-cover bg-center">
            </div>
            <div class="w-[60%]">
                <p class="text-center text-lg relative top-[50%] -tranlate-y-1/2 font-[200]">
                    如果想使用本系統 歡迎掃描左側LINE的QRcode<br>
                    或是搜尋LINE ID @266novhh
                </p>
            </div>
        </div>
    </section>
</body>
<footer class="w-full h-[10vh]">
    <h3 class="text-right mr-10 pt-7">111 AI人工智慧導論 第八組</h3>
</footer>
</html>

